#Some of us use vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

#Some of us use vim
*.swp

build/*
# Git will not track these file types
*.a
*.bin
*.d
*.DS_Store
*.elf
*.exe
*.list
*.o
.vscode/*
*.swp
*.swo
*.*~
